// @import "bootstrap/scss/bootstrap";
@import "mdb-ui-kit/css/mdb.min";

@import "toastr/toastr";
@import "sweetalert2/dist/sweetalert2.min";
@import "react-datepicker/dist/react-datepicker";
@import "react-phone-number-input/style";

@import "@uppy/core/dist/style";
@import "@uppy/dashboard/dist/style";
@import "@uppy/file-input/dist/style";
@import "@uppy/status-bar/dist/style";



html, body, #app {
  position: relative;
  min-height: 100%;
  height: 100%!important;
}
body{
  background-color: #e4f0e2;
}

.link {
  color: green;
}

a {
  cursor: pointer;
}

.table-actions {
  width: 160px;
}

.is-invalid {
  margin-bottom: 4px!important;
}

.text-align-right {
  text-align: right;
}

.plan-card-container {
  // width: 250px;
  padding: 10px;
  height: 250px;
  .plan-card {
    height: 100%;
    position: relative;
    .bottom {
      position: absolute;
      bottom: 1.0rem;
    }
  }


}
