<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>IKROA - Smart Investments Market</title>
    <link rel="stylesheet" href="http://localhost:8281/css/screen.css">
    <!-- <script src="https://kit.fontawesome.com/e15c4fb61b.js" crossorigin="anonymous"></script> -->
  
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    
    <script charset="utf-8">
        window.global = window;
    </script>
</head>

<body>
    <noscript>
      vp is a JavaScript app. Please enable JavaScript to continue.
    </noscript>
    <div id="app"></div>
</body>

